.grandchild-box {
    border: 2px solid #bedcf6;
    border-radius: 8px;
    padding: 4px; 
    background-color: #f9fbfd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 70px; 
    height: 70px; 
    margin-top: 5px;
}

.grandchild-title {
    font-size: 9px;
    font-weight: bold;
    color: #0070d2;
    margin-bottom: 3px;
}